:root {
  --primary: #012e55;
  --secondary: #ffc107;

  --text-xs: 10px;
  --text-sm: 12.8px;
  --text-md: 14.4px;
  --text-md1: 15.2px;
  --text-md2: 15.6px;
  --text-md3: 16px;
  --text-lg: 18.8px;
  --text-xl: 20px;
  --text-xl1: 25px;
  --text-xl2: 28px;
  --text-2xl: 32px;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

* {
  font-family: 'MyriadPro', sans-serif;
  transition: 0.2s all ease-in-out;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

button {
  border: none;
}

input[type='text'],
input[type='password'] {
  @apply text-base w-full px-3 py-[6px] outline-none border-2 border-gray-300 focus:border-primary;
}

button[type='submit'] {
  @apply text-base w-full bg-primary hover:bg-dark text-white text-center py-[6px] rounded-sm;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}