@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*:not(#map):not(#map *) {
  font-family: 'MyriadPro', sans-serif;
  transition: 0.2s all ease-in-out;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

input[type='text'],
input[type='password'] {
  @apply text-base w-full px-3 py-[6px] outline-none border-2 border-gray-300 focus:border-primary;
}

button[type='submit'] {
  @apply text-base w-full bg-primary hover:bg-dark text-white text-center py-[6px] rounded-sm;
}

button.white {
  @apply text-base w-full bg-white hover:bg-gray-200 text-primary text-center py-[6px] rounded-sm;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}